<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.banknotechecker">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Page_Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page_England"
            android:label="@string/england"
            android:parentActivityName=".Page_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".England_Five"
            android:label="@string/TitleFive"
            android:parentActivityName=".Page_England"
            android:screenOrientation="portrait" />
        <activity
            android:name=".England_Ten"
            android:label="@string/TitleTen"
            android:parentActivityName=".Page_England"
            android:screenOrientation="portrait" />
        <activity
            android:name=".England_Twenty_P"
            android:label="@string/TitleTwenty"
            android:parentActivityName=".Page_England"
            android:screenOrientation="portrait" />
        <activity
            android:name=".England_Twenty"
            android:label="@string/TitleTwenty"
            android:parentActivityName=".Page_England"
            android:screenOrientation="portrait" />
        <activity
            android:name=".England_Fifty"
            android:label="@string/TitleFifty"
            android:parentActivityName=".Page_England"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page_Scotland"
            android:label="@string/scotland"
            android:parentActivityName=".Page_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scotland_BOS_Five"
            android:label="@string/TitleFive"
            android:parentActivityName=".Page_Scotland"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scotland_CB_Five"
            android:label="@string/TitleFive"
            android:parentActivityName=".Page_Scotland"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Page_NIreland"
            android:label="@string/nIreland"
            android:parentActivityName=".Page_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page_Euro"
            android:label="@string/Euro"
            android:parentActivityName=".Page_Home"
            android:screenOrientation="portrait" />
    </application>

</manifest>